body {
    background-color: rgb(26, 26, 26);
    height: 1081px;
}

header {
    background-color: rgb(0, 107, 0);
    width: 1905px;
    margin-left: -10px;
    margin-top: -26px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav{
    position: relative;
    left: 1100px;
    bottom: 75px;
    font-size: 20px;
    cursor: pointer;
}
.header-a:hover{
    padding: 30px;
    background-color: white;
    color: black;
}

.header-a{
    text-decoration: none;
    margin: 10px;
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 14px;
    transition: 0.5s;
}


h1{
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: black 2px 2px 3px ;
    color: white;
}

i{
    color: aquamarine;
}
#desc{
    position: relative;
    left: 100px;
    bottom: 12px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: white;
}

main {
    text-align: center;
    position: relative;
    top:350px;   
}

#first-div {
    height: 600px;
    background-image: url(/office.png);
    background-size: 1400px 600px;
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-top: -150px;
    transition: 0.5s;
}

#parent{
    margin-top: -617px;
    height: 602px;
    width: 1400px;
    background-color: rgba(56, 164, 56, 0.5);
    margin-left: -20px;
    transition: 0.5s;
}
#discription {
    font-size: 25px;
    position: relative;
    top: 170px;
    right: 250px;
    color: white;
}

#h2-1{
    position: relative;
    top: 90px;
    right: 250px;
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: underline;
}

#deposit {
    text-align: right;
    position: relative;
    top:200px;
    right: 200px;
    color: white;
}

h1:hover {
    cursor: pointer;
}


form {
    position: relative;
    left: 1400px;
    border: 2px rgb(4, 216, 4) solid;
    width: 400px;
    border-radius: 12px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 40px;

}

input {
    margin: 10px;
    height: 60px;
    width: 300px;
    text-align: center;
    background-color: black;
    border: 2px rgb(4, 216, 4) solid;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    color: black;
}

#submit {
    position: relative;
    right: 75px;
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#deposit-h2 {
    font-size: 40px;
    position: relative;
    right: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:hover {
    transform: scale(1.2);
}

#parent-div {
    position: relative;
    bottom: 445px;
    width: 60%;
    height: 800px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    left: 70px;
}

.child-img {
    height: 300px;
    width: 300px;
    overflow: hidden;
    gap: 10px;
    transition: 0.8s;
    background-size: cover;
    border-radius: 12px;
}

.child-img:hover img {
    filter: blur(10px);
}
.child-img:hover {
    transform: scale(1.1);
}

.child-img:hover::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: rgb(37, 167, 37);
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vannesa:hover::after {
    content: "This is Vannesa, she is our loyal employee, she handles all the asset transfers.";
}
.romeo:hover::after {
    content: "This is Romeo, he is the Vice-President of this Company, he loves to work and is dedicated to our bank.";
}
.lana:hover::after {
    content: "This is Lana, she is the call center manager for our line, she is slowly proggresing. ";
}
.ken:hover::after {
    content: "This is Ken, he's a Web Developer, and he's the one who handles our website.";
}
.karen:hover::after {
    content: "This is Karen, she is a Shareholder of this company, basically one of the founders.";
}
.tyrone:hover::after {
    content: "This is Tyrone, He is the Co-manager that helps the emplyees do their works to the fullest.";
}

footer {
    background-color:rgba(5, 255, 5, 0.2);
    height: 250px;
    margin-top: 200px; 
    text-align: center;
}

#footer-h2 {
    position: relative;
    top: 100px;
    color: white;
}

.footer-a {
    position: relative;
    position: relative;
    top: 100px;
    margin: 10px;
    color: white;
    
}

#footer-p {
    font-size: 13px;
    position: relative;
    top: 100px;
    color:darkgrey;
}
